
    
    .footer{
    background:#292929;
    padding:0;
    margin:0;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:0% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#e0e0e0;
    }
    
    .footer .row ul{
    width:96%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    